body {
    margin: 0;
}

.main {
 width: 100vw;
 height: 100vh;
 display: grid;
 grid-template-columns: 50px 20% 1fr 1fr 10% 10px ;
 grid-template-rows: 10px 1fr 10% 1fr 10px;
}

a:link {
    color: rgb(0, 46, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 255, 234);
    background-color: transparent;
  }
  a:active {
    color: rgb(111, 0, 255);
    background-color: transparent;
    text-decoration: underline;
  }

@font-face {
    font-family: gordita;
    src: url(assets/cooper_black.TTF);
   
    
}

@font-face {
  
    font-family: textx;
    src: url(assets/courier_new.ttf);
    
}

@font-face {
  
    font-family: paris;
    src: url(assets/hello_paris.ttf);
    
}

.copyright {   
    color: rgb(8, 255, 193);
    font-family: gordita;
    font-size: 30pt;
    z-index: 0;
       position: fixed;
       top: 0px;
       left: 50px;
    height: min-content;
 place-self: center;
 writing-mode: vertical-lr;
    display: inline-block;
    text-orientation: upright;
    text-align: center;
    
   }

.menu {   
 color: rgb(4, 0, 255);
 font-family: gordita;
 font-size: 15pt;
 z-index: 100;
    position: fixed;
    bottom: 50px;
    left: 50px;
 height: min-content;
 outline-style: double;
 outline-width: 6px;
 outline-color: rgb(0, 43, 255);
  border: 1px solid rgb(0, 43, 255);
  padding: 20px;
  margin: 20px;
  place-self: center;
 
}

.header {
    z-index: 100;
    position: fixed;
    bottom: 50px;
    right: 2.5%;
    font-family: paris;
    color: rgb(226, 215, 255);
    font-size: 30pt;
    writing-mode: vertical-lr;
    display: inline-block;
    text-orientation: upright;
    text-align: center;
    
}

.center-image{
    grid-column: 3 / span 2 ;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-self: center;

}

.resize {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.resize50 {
    max-width: 90%;
    max-height: 90%;
    place-self: center;
  }

.text-bigger{
    font-size: 30pt;
}

.center{
    place-self: center;
}

.subtitle {
    
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    font-family: gordita;
    color: rgb(194, 100, 255);
    font-size: 15pt;
    text-align: center;
}

.azul{
    font-size: 40pt;
    font-family: gordita;
    color: rgb(103, 100, 255);
}

.morado{
    font-size: 50pt;
    font-family: gordita;
    color: rgb(194, 100, 255);
}

.blog {
    
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    column-gap: 30px;
    font-family: textx;
    font-size: 12pt;
    align-items: center;
    
}

.blog-full{
    margin: 20px;
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    font-family: textx;
    font-size: 12pt;
    align-items: center;
    
}

.image-size{
    display: grid;
    width: 100%;
    align-items: center;
}

    

