body {
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 1fr 30% 1fr 30% 1fr;
}

.first {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: auto;
}

.second {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.lulo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.third {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  background-color: aquamarine;
  height: 3000px;
}
